<!DOCTYPE html>
<html>
<head>
  <title>Intelligent Staffing</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'site_icon.ico' %>
</head>
<body>


<%= render 'layouts/top_menu' %>

<div id="home_flash_notice">
	<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %>"><%= value %></div>
	<% end %>
</div>

<div id="main">
	<%= yield %>
</div>

<div id="signin"></div>

<%= render 'layouts/bottom_menu' %>

</body>
</html>
